# dependencies
node_modules/
client/node_modules/
backend/node_modules/

# builds
client/build/
backend/dist/

# environment variables
.env
client/.env
backend/.env

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/